{% extends "dashboard.html" %}

{% block titulo %}Eliminar Perfil{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
{% endblock extra_css %}

{% block section2 %}
<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card shadow w-25">
        <div class="card-body">
            <h3 class="card-title mb-4 text-center">¿Estás seguro que quieres eliminar el perfil de {{ object.nombres }} {{ object.apellidos }}?</h3>

            <form method="post" novalidate>
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-danger w-50 me-2">Eliminar Perfil</button>
                    <a href="{% url 'perfilusuario_list' %}" class="btn btn-secondary w-50" role="button">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
