{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block titulo %}Base{% endblock titulo %}</title>
    {% block extra_css %}{% endblock extra_css %}
</head>
<body class="contenedor-body" data-bs-theme="light">
    
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">

                <a class="navbar-brand" href="{% url 'base' %}">
                    <i class="bi bi-router-fill me-2"></i>
                    Apinet
                </a>

                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login_usuario' %}">Ingresar</a>
                    </li>
                    
                </ul>
                
            </div>
        </nav>
    </header>

    <main>
        {% block contenido %}
        <div class="container-fluid d-flex justify-content-center align-items-center h-100">

            <img 
            src="{% static 'img/apinet.jpg' %}" 
            alt="logo de empresa"
            class="img-fluid img-responsive-custom"
            >
        </div>
        {% endblock contenido %}
    </main>
    <footer class="d-flex justify-content-center align-items-center bg-dark text-white">
        <p>camilodev1990@gmail.com</p>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>